* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background-onça.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container:hover {
    transform: scale3d(1.1, 1.1, 1);

}

.container {
    width: 350px;
    justify-content: center;
    flex-direction: row;
    margin: 25px;
    background-color: rgb(245, 239, 239);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.card-local {
    font-size: 30px;
    margin: 10px 0;
}

.card-titulo {
    margin: 15px 0;
}

.card-text {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}

.card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: black;
}

.card-footer a{
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}